* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color: rgb(234, 245, 253);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    max-width: 320px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 22px rgb(206, 212, 212);
    .image {
        text-align: center;
        img {
            border-radius: 15px;
            width: 100%;
            height: auto;
        }
    }
    .description {
        font-family: sans-serif;
        text-align: center;
        margin: 15px;
        h1 {
            font-size: 16px;
        }
        p {
            color: gray;
            margin-top: 20px;
            font-size: 16px;
        }
    }
}
